services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres          
      POSTGRES_PASSWORD: postgres       
      POSTGRES_DB: blog
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s 
      timeout: 5s 
      retries: 5
    networks:
      electronic:
        aliases:
          - database
  backend:
    build: .
    container_name: electronic_backend
    env_file:
      - config.env 
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      electronic:
        aliases:
          - backend

networks:
  electronic:
    driver: bridge
