.App {
  text-align: center;
  background-color: #659DBD;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: block;
}

.header{
  height: 70px;
  background-color: #EA4C89;
  width: 100vw;
  
}

.header_box{
  display: flex;
  flex-direction: row-reverse;
  height: 70px;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

.cart{
  height: 60px;
  padding-right: 30px;
  display: flex;
}

.ShoppingList_box{
  padding-left: 400px;
  padding-right: 400px;
  height: calc(100vh - 70px);
}